<div class="food">
    <div class="food__content">
        <div class="food__body">
            <h2 class="section__title">Enjoy Our Food</h2>
            <div class="section__text food__text">Lorem ipsum 
                dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. 
                Risus commodo viverra maecenas accumsan lacus vel facilisis. 
            </div>
        </div>
    </div>
</div>