<div class="header">
    <div class="container">
        @@include('./_nav.html')
        <div class="header__body">
            <div class="header__img"><img src="./img/header/plate.png" alt=""></div>
            <div class="header__content">
            
            
                <div class="header__title">Contact Us For
                    Best Breakfast</div>
                <div class="header__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                     ut labore et dolore magna. </div>
                <button class="btn header__btn">Contact Us</button>
            </div>
        </div>
        

        
    </div>
</div>