<div class="quality">
    <img src="./img/quality/img-1.png" alt="" class="quality__img quality__img--1">
    <img src="./img/quality/img-2.png" alt="" class="quality__img quality__img--2">
    <img src="./img/quality/img-3.png" alt="" class="quality__img quality__img--3">
    <div class="container">
        <div class="quality__body">
            <h2 class="section__title">Our Food Quality</h2>
            <div class="section__text quality__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
        </div>
    </div>
</div>