<ul class="social">
    <li class="social__item"><a href="#" class="social__link"><img src="./img/social/fb.png" alt="" class="social__img"></a></li>
    <li class="social__item"><a href="#" class="social__link"><img src="./img/social/tw.png" alt="" class="social__img"></a></li>
    <li class="social__item"><a href="#" class="social__link"><img src="./img/social/inst.png" alt="" class="social__img"></a></li>
    <li class="social__item"><a href="#" class="social__link"><img src="./img/social/p.png" alt="" class="social__img"></a></li>
</ul>