<header class="header">
    <div class="header__wrapper header__wrapper--red">
        <div class="container header__header">
        <span class="header__lang"><a href="#">English</a> </span>
        <div class="header__block">
            <span class="header__text header__text--before"><a href="#">Contact Center</a></span>
            <span class="header__text"><a href="#"> Country Profile</a></span>
        </div>

        </div>
    </div>
    <div class="header__wrapper header__wrapper--yellow">
        <div class="container header__menu"> 
        <div class="header__logo"><img src="./img/header/logo.png" alt="logo"></div>
        @@include('./_nav.html')
        <div class="header__search"><img src="./img/header/search.png" alt=""></div>
    </div>
    </div>
    <div class="header__wrapper header__wrapper--bg">
        <div class="container header__content">
        <div class="header__body">
            <h1 class="header__title">We Deliver With Speed <div class="border"></div></h1>
            <div class="header__desc">When an unknown printer took a galley of type and scrambled
                it to make a type specimen book. It has survived not only five centuries</div>
            <ul class="header__list">
                <li class="header__item">amazing</li>
                <li class="header__item">quick</li>
                <li class="header__item">24/7 supports</li>
            </ul>
            <button class="btn btn--yellow header__btn">learn more</button>
            <button class="btn btn--transparent header__btn">dhl worldwide</button>
        </div>
    </div>
    <div class="header__gradient"></div>
    </div>
</header>