<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">express</a></li>
        <li class="nav__item"><a href="#" class="nav__link">parcel & ecommerce</a></li>
        <li class="nav__item"><a href="#" class="nav__link">logistics</a></li>
        <li class="nav__item"><a href="#" class="nav__link">mail</a></li>
        <li class="nav__item"><a href="#" class="nav__link">press</a></li>
        <li class="nav__item"><a href="#" class="nav__link">about</a></li>
    </ul>
</nav>