
<div class="clients">
    <div class="container">
        <div class="clients__row">
            <img src="./img/clients/mountain.jpg" alt="" class="clients__img">
            <img src="./img/clients/mountain.jpg" alt="" class="clients__img">
            <img src="./img/clients/mountain.jpg" alt="" class="clients__img">
            <img src="./img/clients/mountain.jpg" alt="" class="clients__img">
            <img src="./img/clients/mountain.jpg" alt="" class="clients__img">
        </div>
    </div>
</div>