
<section class="form">
    <div class="container">

        <div class="form__wrapper">
            <h2 class="section__title">Need a Project?</h2>
            <div class="section__text">Let us know what you're looking for in an agency. We'll take a look and see 
                if this could be the start of something beautiful.</div>
            <form action="" class="form__form">
                <div class="form__item">
                    <input class="form__input" placeholder="Your Name" type="text">
                    <input class="form__input" placeholder="Your Email" type="text">
                </div>
                
                    <input class="form__input" placeholder="Your Title" type="text">
                
                
                <textarea placeholder="Your Text" name="" id="" cols="30" rows="10"></textarea>
                <button type="submit" class="btn form__btn">send message</button>
            </form>
        </div>

    </div>
</section>