<nav class="header__nav nav">
    <img src="./img/header/logo.png" alt="" class="header__logo">
    <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link">home</a></li>
        <li class="nav__item"><a href="" class="nav__link">about</a></li>
        <li class="nav__item"><a href="" class="nav__link">work</a></li>
        <li class="nav__item"><a href="" class="nav__link">process</a></li>
        <li class="nav__item"><a href="" class="nav__link">services</a></li>
        <li class="nav__item"><a href="" class="nav__link">testimonials</a></li>
        <li class="nav__item"><a href="" class="nav__link">contact</a></li>
    </ul>
    <img src="./img/header/nav.png" alt="" class="nav__img">
</nav>