<div class="reviews">
    <div class="container">
        <div class="reviews__body">
            <div class="reviews__text">“ Outstanding job and exceeded all expectations. It was a pleasure 
                to work with them on a sizable first project and am looking 
                forward to start the next one asap.”</div>
            <div class="reviews__name">michael hopkins</div>
            <div class="reviews__pagination">
                <div class="reviews__item"></div>
                <div class="reviews__item reviews__item-active "></div>
                <div class="reviews__item"></div>
            </div>
        </div>
    </div>
</div>