<div class="services">
    <div class="container">
        <div class="services__row">
            <div class="services__item">
                <img src="./img/services/diamond.png" alt="" class="services__img">
                <div class="services__title">ui / ux design</div>
                <div class="services__text">Be set fourth land god darkness 
                    make it wherein own</div>
            </div>
            <div class="services__item">
                <img src="./img/services/diamond.png" alt="" class="services__img">
                <div class="services__title">ui / ux design</div>
                <div class="services__text">Be set fourth land god darkness 
                    make it wherein own</div>
            </div>
            <div class="services__item">
                <img src="./img/services/diamond.png" alt="" class="services__img">
                <div class="services__title">ui / ux design</div>
                <div class="services__text">Be set fourth land god darkness 
                    make it wherein own</div>
            </div>
            <div class="services__item">
                <img src="./img/services/diamond.png" alt="" class="services__img">
                <div class="services__title">ui / ux design</div>
                <div class="services__text">Be set fourth land god darkness 
                    make it wherein own</div>
            </div>
        </div>
        <div class="services__row">
            <div class="services__item">
                <img src="./img/services/diamond.png" alt="" class="services__img">
                <div class="services__title">ui / ux design</div>
                <div class="services__text">Be set fourth land god darkness 
                    make it wherein own</div>
            </div>
            <div class="services__item">
                <img src="./img/services/diamond.png" alt="" class="services__img">
                <div class="services__title">ui / ux design</div>
                <div class="services__text">Be set fourth land god darkness 
                    make it wherein own</div>
            </div>
            <div class="services__item">
                <img src="./img/services/diamond.png" alt="" class="services__img">
                <div class="services__title">ui / ux design</div>
                <div class="services__text">Be set fourth land god darkness 
                    make it wherein own</div>
            </div>
            <div class="services__item">
                <img src="./img/services/diamond.png" alt="" class="services__img">
                <div class="services__title">ui / ux design</div>
                <div class="services__text">Be set fourth land god darkness 
                    make it wherein own</div>
            </div>
        </div>
    </div>
</div>