<div class="stats">
    <div class="container">
        <div class="stats__flex">
            <div class="stats__element">
                <img src="./img/stats/portfolio.png" alt="" class="stats__icon"/>
                <div class="stats__body">
                    <div class="stats__num">548</div>
                    <div class="stats__text">project completed</div>
                </div>
            
            </div>
            <div class="stats__element">
                <img src="./img/stats/clock.png" alt="" class="stats__icon">
                <div class="stats__body">
                    <div class="stats__num">1465</div>
                    <div class="stats__text">working hours</div>
                </div>
            </div>
            <div class="stats__element">
                <img src="./img/stats/star.png" alt="" class="stats__icon">
                <div class="stats__body">
                    <div class="stats__num">612</div>
                    <div class="stats__text">positive feedbacks</div>
                </div>
            </div>
            <div class="stats__element">
                <img src="./img/stats/like.png" alt="" class="stats__icon">
                <div class="stats__body">
                    <div class="stats__num">735</div>
                    <div class="stats__text">happy clients</div>
                </div>
            </div>
        </div>
    </div>
</div>