<div class="work">
    <div class="work__flex">
        
            <img src="./img/work/placeholder-1.jpg" alt="" class="work__img">
                
            <img src="./img/work/placeholder-2.jpg" alt="" class="work__img">

            <img src="./img/work/placeholder-1.jpg" alt="" class="work__img">

            <img src="./img/work/placeholder-2.jpg" alt="" class="work__img">
        
    </div>
    <div class="work__flex">
        
        <img src="./img/work/placeholder-2.jpg" alt="" class="work__img">
            
        <img src="./img/work/placeholder-1.jpg" alt="" class="work__img">

        <img src="./img/work/placeholder-2.jpg" alt="" class="work__img">

        <img src="./img/work/placeholder-1.jpg" alt="" class="work__img">
    
</div>
<button class="work__btn">load more work</button>
</div>