.container {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  line-height: 1;
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 400;
  height: 100%;
  color: #ffffff;
  background-color: #1d1d23;
  font-size: 16px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  background-color: #e58f00;
  padding: 25px 40px;
  color: #28282d;
  border: 0;
}

.hidden {
  display: none;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 100px;
  padding-left: 20px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 55px;
}

.nav__link {
  color: #ffffff;
}

.nav__img {
  display: none;
}

.header {
  position: relative;
  padding-top: 35px;
  height: 853px;
  background-image: url("../img/header/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__img img {
  max-width: 100%;
  height: auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 125px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content {
  width: 450px;
  margin-top: 65px;
  margin-right: 135px;
  margin-left: 25px;
}

.header__title {
  font-size: 36px;
  margin-bottom: 45px;
  color: #e58f00;
}

.header__text {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.3;
}

@media (max-width: 972px) {
  .nav__row {
    padding-right: 20px;
  }

  .nav__block {
    display: none;
  }

  .nav__img {
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 0;
  }
}

@media (max-width: 769px) {
  .header__img {
    display: none;
  }

  .header__body {
    text-align: center;
  }

  .header__content {
    margin-right: 50px;
    margin-left: 50px;
    width: auto;
  }
}