$black: #000000;
$white: #ffffff;
$red: #ba0000;
$yellow: #ffcc00;

$container: 1170;
.container {
  max-width: $container + px;
  margin: 0 auto;
  @media screen and (max-width: 1186px) {
    width: auto;
    padding: 0 25px;
  }
}

body {
  line-height: 1;
  font-weight: 400;
  height: 100%;
  color: $white;
  background-color: #1d1d23;
  font-size: 16px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.btn {
  padding: 20px 30px;
  font-weight: 600;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  &--yellow {
    background-color: $yellow;
    color: $red;
  }
  &--transparent {
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
  }

  &--red {
  }
}

.hidden {
  display: none;
}
