.nav {
  &__row {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 20px;

    @media (max-width: 972px) {
      padding-right: 20px;
    }
  }

  &__block {
    @media (max-width: 972px) {
      display: none;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    & + & {
      margin-left: 55px;
    }
  }

  &__link {
    color: $white;
  }

  &__logo {
  }

  &__img {
    display: none;
    @media (max-width: 972px) {
      display: block;
      width: 60px;
      height: 60px;
      margin-right: 0;
    }
  }
}
